<section id="events-index">

  <div class="buttons-container container justify-cont-around">
    <p class="btn"><a href="/events/create">New event</a></p>
    <p class="btn toggle-filter-form">Filter</p>
  </div>
  <div class="form hidden">
    <form class="events-form" method="POST" action="/events/list">
      <div class="form-field" >
        <label>City</label>
        <input type="text" name="city"/>
      </div>
      <div class="field submit">
        <button type="submit">Search</button>
      </div>
    </form>
  </div>

  <div class="events-container">
  <% events.forEach(event =>{ %>
    <%- include ../partials/events/eventPartial.ejs %>
  <% }) %>
  </div>
</section>
<%- include ../partials/navbar.ejs %>