<section id="events-list">
<%- include ../partials/events/events-navbar.ejs %> 
<div class="events-container">
  <% events.forEach(event => { %>
    <%- include ../partials/events/eventPartial.ejs %>
  <% }) %>  
  </div>
</section>