<div class="  container ">
  <img src="https://lorempixel.com/output/nature-q-g-640-480-5.jpg" alt="event image" height="200px" width="150px">
  <p> event.title partial</p>
  <a href="#">See more</a>
</div>