<div class="  container ">
  <img src="https://lorempixel.com/output/nature-q-g-640-480-5.jpg" alt="event image" height="130px" width="180">
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. A facere architecto optio, quos atque amet enim numquam deleniti dolore beatae quae ullam fugiat ea dignissimos tempore. Omnis aliquid sint ab!</p>
  <a href="#">See more</a>
</div>