<section class="  profile-info  container  ">
  <!-- to include Profile Partial -->
  <%- include partials/users/profilePartial.ejs %>
</section>
 
<section class="  profile-events  container  flex-column">
    <!-- To include events partials -->
    <div class="  upcomming-events  container">
      <%- include partials/users/userUpcomingEvents.ejs %>
    </div>
    <div class="  past-events  container">
      <h3 class="past-events">Past events</h3>
    </div>
</section>
<%- include partials/navbar.ejs %>