<%- include partials/events/events-navbar.ejs %>
<section id="profileEdit">
<h2 class="edit-title">Edit your profile</h2>
  <form class="profile-form" method="POST" action="/users/profileEdit" enctype="multipart/form-data">
    <div class="edit form-field" >
      <label>Image</label>
      <input class="edit-create" type="file" name="image"/>
    </div>
    <div class="edit form-field" >
      <label>Tagline</label>
      <input class="edit-create" type="text" name="tagline" value="<%= user.tagline  %>"/>
    </div>
    <div class="edit form-field" >
      <label>About Me</label>
      <input class="edit-create" type="text" name="aboutme" value="<%= user.aboutme %>"/>
     </div>
     <div class="field submit-profile">
      <button class="edit-profile" type="submit">Edit</button>
    </div>
  </form>
</section> 
<%- include partials/navbar.ejs %>