<%- include partials/events/events-navbar.ejs %> 
<section class="  profile-info  container  ">
  <!-- to include Profile Partial -->
  <%- include partials/users/profilePartial.ejs %>
</section>
<section class="  profile-events  container  flex-column">
    <!-- To include events partials -->
    <div class="flex-wrap  upcomming-events  container">
      <%- include partials/users/userUpcomingEvents.ejs %>
    </div>
    <div class="  follow  container">
      <h3 class="follow">Followers</h3>
    </div>
</section>
<%- include partials/navbar.ejs %>