html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 650px;
}

li, ul {
  list-style: none;
}


/*----------------- General CSS -------------------*/
body {
 /* background-color: #47603E; */
 background-color: #F7F4F2;
 /* color: #ACC4A2; */
 color: #537048;
 /* font-family: 'Roboto Condensed', sans-serif; */
 font-family: 'Roboto', sans-serif;
 font-size: 14px;
}

.hidden {
  display: none;
}

a.go-back {
  margin-left: 10px;
  padding-top: 10px;
}

p {
  color: #3E3F40;
}

h2 {
color:rgb(91, 153, 72);
font-size: 2em;
}

/*------------- Flex Utilities -------------------*/

.container              { display        : flex         ;}
.justify-cont-center    { justify-content: center       ;}
.justify-cont-start     { justify-content: flex-start   ;}
.justify-cont-end       { justify-content: flex-end     ;}
.justify-cont-around    { justify-content: space-around ;}
.justify-items-center   { justify-items  : center       ;}
.align-self-center      { align-self     : center       ;}
.align-items-center     { align-items    : center       ;}
.align-items-end        { align-items    : flex-start   ;}
.flex-row               { flex-direction : row          ;}
.flex-column            { flex-direction : column       ;}
.flex-wrap              { flex-wrap      : wrap         ;}



/* ----------------------------------- NavBar -----------------------------------------*/

.navbar {
  background-color: #3E3F40;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.nav-div {
  width: 100%;
  height: 40px;
}

.navbar ul {
  padding: 5px;
}

.nav-bar li {
  width: 50px;
  height: 50px;
}

img.invert-color {
	-webkit-filter: invert(1) hue-rotate(180deg) contrast(2);
  filter: invert(1) hue-rotate(180deg) contrast(2);
}

.navbar .link-container{
  width: 100%;
}

.navbar button {
  background-color: #3E3F40;
    border: none;
}


/* ------------------------------------- Home Page View --------------------------------------*/

/* ------------ Section Hero -------------*/

.hero {
  background-image: url('../images/hawaii-group-hike.jpg');
  background-size: cover;
  width: 100%;
  height: 500px;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 150px;
  color: white;
  padding: 10px;
  background-color: rgba(76, 77, 66, 0.5);
  border-radius: 8%;
}




/* ---------------- Section log-signup ------------------*/

.log-signup {
  /* background-color: rgb(72, 125, 48); */
  width: 100%;
  margin-top: 10px;
}

  .log-signup form {
    width: 100%;
  } 

  .log-signup .log-in .submit {
      background-color: rgb(186, 223, 160);
      border-radius: 14px;
      width: 120px;
      height: 25px;
      margin: 5px 0 10px 0;
      padding: 15px;
      border: 1.5px grey solid;
  }

  .log-signup button {
    color:  rgb(72, 125, 48);
    background-color: rgb(186, 223, 160);
    border: none;
    font-size: 14px;
  }



  
  .log-signup .field {
    width: 85%;
  }

  .log-signup label {
    margin-left: 30px;
    font-size: 18px;
    margin-bottom: 4px;
  }

  .log-signup  input {
    width: 90%;
    height: 35px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    font-size: 16px;
  }

  div.show-form {
    width: 100%;
  }
 
  .sign-up .submit {
    background-color: rgb(186, 223, 160);
    border-radius: 14px;
    width: 120px;
    height: 25px;
    margin: 15px 0;
    padding: 15px;
    border: 1.5px grey solid;
  }

  .sign-up .submit:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

  a.link, .toggle-signup {
    color:rgb(91, 153, 72);
    text-decoration: none;
  }


/*--------------------   Follow  ------------------*/

button.follow {
  color: #537048;
  padding: 5px 0px;
  border: 1.5px grey solid;
  border-radius: 30px;
  width: 130%;
  text-align: center;
  font-size: 14px;
}

  /* ------------------------------------------- Profile View ----------------------------------------*/

  .profile-info {
    padding: 20px 20px 10px 20px;
    border-bottom: grey 0.5px solid;
    box-shadow: 0 0 5px black;
    margin-bottom: 15px;
    background: rgba(207, 237, 196, 0.2);
  } 

  .profile-info img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: solid;
  }

  .profile-info div {
    display: flex;
    justify-content: center;
  }

  div.info-profile {
color: #3E3F40;
  }

  .profile-info p {
    margin: 8px 0;
  }

  .profile-info.container {
    font-size: 15px;
  }

  h3.upcomming-events {
    margin-left: 20px;
    width: 100%;
    font-size: 20px;
    color: #3C3D3B;
  }

  h3.follow {
    margin-left: 20px;
    width: 100%;
    font-size: 20px;
    color: #3C3D3B;
  }

  p.username {
    font-size: 30px;
    align-self: center;
  }

  li.upcomming-events {
    padding: 10px;
  border-radius: 10px;
  border: solid 1px #3C3D3B;
  box-shadow: 3px 3px 5px #3C3D3B;
  /* margin-bottom: 15px; */
  background: #707B7C;
  color: #ECF0F1;
  margin: 10px 0px
  }

  a.edit-profile {
    text-decoration: none;
  }

  div.image-container {
    width: 100%;
  }

  ul.upcomming-events {
    padding: 0px 15px 20px 15px;
   
  }

  section.profile-info {
    background:rgba(91, 153, 72, 0.8);;
  }

  div.follow {
    padding-bottom: 80px;
  }

/* ------------------------------------------- Errors Views ------------------------------------*/

.error-page {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  color: white;
}





/* --------------------------------- Section events/index ----------------------------------------*/
#events-index {
  margin-bottom: 60px;
}

p.btn {
  color: #537048;
  padding: 5px 0px;
  border: 1.5px grey solid;
  border-radius: 30px;
  width: 35%;
  text-align: center;
  font-size: 14px;
}

p.btn a {
  text-decoration: none;
  color: #537048;

}

.events-list {
  padding-bottom: 50px;
}

.buttons-container {
  margin-top: 20px;
}

/* ----------- form -----------*/

.events-form {
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
}
.events-form label {
	margin-bottom: 10px;
  font-style: bold;
  /* color: #CFEDC4; */

}

.events-form input {
  padding: 2px;
  font-size: 12px;
  border-radius: 30px;
  width: 70%;
  border: grey 0.8px solid;
}

.events-form .submit {
  padding-top: 5px;
}

.events-form .submit button, button.create {
  color: #537048;
  padding: 5px 0px;
  border: 1.5px grey solid;
  border-radius: 30px;
  width: 35%;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  background-color: #F7F4F2;
}

.error-page h3{
  background-color: rgba(120, 121, 113, 0.5);
  height: 40px;
  padding: 10px;
  margin-top: 50px;
}

/* ------------------------------ Event Detail --------------------------------------*/
nav.event-navbar {
  background-color: #3E3F40;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

a.nav-link {
  color: #F7F4F2;
}

button.del-event {
  color: #F7F4F2;
  font-size: 14px;
}

article.event {
  margin-top: 15px;
}

.event-title {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

img.event-image{
  width: 100%;
  margin-bottom: -3px;
}

p.event-info, ul.location-list {
  margin: 10px 10px 0px 30px;
  font-size: 16px;
}

div.info-container {
  padding: 20px 0 10px 0;
  background: rgba(91, 153, 72, 0.6);
}

span.title {
  font-weight: bold;
}

#event-detail{
  margin-bottom: 20%;
}

ul.location-list {
  color: #3E3F40;
}

ul.users-list {
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 0;
}

a.user-link {
  color: #3E3F40;
  text-decoration: none;
}

div.users-list {
  margin: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

div.user-info {
  display: flex;
  flex-direction: column;
  padding: 4px 10px;
}

p.user-icon-tag {
  margin-top: 2px;
}

img.user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px #47603E;
}

article.participants {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
}

button.join, button.edit-profile, button.edit-event {
  width: 120px;
  padding: 5px 3px;
  border: 1.5px grey solid;
  font-size: 14px;
  background-color: #F7F4F2;
  border-radius: 30px;
  text-align: center;
  padding: 5px 0px;
  color: #537048;
}

/* ------------------------------ Section create/edit event/profile -------------------------------------*/
div.edit {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form.create-form, form.edit-form {
  padding: 15px 15px;
  margin-bottom: 50px;
}

input.edit-create {
  padding-left: 10px;
  font-size: 14px;
  border-radius: 15px;
  width: 70%;
  border: grey 0.8px solid;
  height: 30px;
}

input.description {
  height: 60px;
}

div.radio-input {
  width: 45px;
  font-size: 12px;
  text-align: center;
}

div.submit-create {
  text-align: center;
  margin-bottom: 40px;
}

h2.edit-title {
  text-align: center;
  margin: 15px 0 25px 0;
}
section#profileEdit {
  padding: 10px 15px 0 15px;
}

div.submit-profile, div.submit-event-edit {
  text-align: center;
  margin-top: 20px;
}

section#events-edit {
  padding: 10px 15px 40px 15px;
}

form.edit-prof {
  margin-bottom: 55px;
}

/* ------------ Error View 500 ----------------*/

.error-500 {
  background-image: url("/images/shutterstock_302234213-copy.jpg");
  
}

/* ------------ Error View 404 ----------------*/
.error-404 { 
  background-image: url("/images/404.jpg");

}

/*-------------------- Flash messages Partial  ----------------------*/
.flash-messages {
  color: #5B9948;
  margin-top: 5px;
  font-size: 18px;
}

.alert {
  text-align: center;
}

/*---------------------------  Partials -----------------------------*/

/* ------ event partial -------- */
.events-container {
  padding: 0px 15px 20px 15px;
}

article.event-card {
  padding: 10px;
  border-radius: 10px;
  border: solid 1px #3C3D3B;
  box-shadow: 3px 3px 5px #3C3D3B;
  background: rgba(91, 153, 72, 0.6);
}

.card-image {
  border-radius: 10px;
  height: 140px;
  width: 140px;
}

h3.card {
  color: #F7F4F2;;
}

.card {
  padding-left: 10px;
  margin: 5px 0;
  color: #3E3F40;
}

a.card {
  text-align: right;
  text-decoration: none;
  padding-top: 4px;
}

.bold {
  font-weight: bold;
}

/* ------ hello user partial -------- */

h2.user-name {
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 0;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #3E3F40;
  color: #F7F4F2;
}


