html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}





/*------------- Flex Utilities -------------------*/

.container             { display        : flex       ;}
.justify-cont-center   { justify-content: center     ;}
.justify-cont-start    { justify-content: flex-star  ;}
.justify-cont-end      { justify-content: flex-end   ;}
.justify-items-center  { justify-items  : center     ;}
.align-self-center     { align-self     : center     ;}
.align-items-center    { align-items    : center     ;}
.align-items-end       { align-items    : flex-start ;}
.flex-row              { flex-direction : row        ;}
.flex-column           { flex-direction : column     ;}




/* ------------ Section Hero -------------*/

.hero {
  background-image: url('../images/hawaii-group-hike.jpg');
  background-size: cover;
  width: 100%;
  height: 500px;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 150px;
  color: white;
  padding: 10px;
  background-color: rgba(76, 77, 66, 0.5);
  border-radius: 8%;
}




/* ---------------- Section log-signup -----------*/

.log-signup {
  background-color: rgb(72, 125, 48);
  width: 100%;
}

  .log-signup form {
    width: 100%;
  } 

  .log-signup .log-in .submit {
      background-color: rgb(186, 223, 160);
      border-radius: 14px;
      width: 120px;
      height: 25px;
      margin: 15px 0;
      padding: 15px;
  }

  .log-signup .log-in button {
    color:  rgb(72, 125, 48);
  }

  .log-signup .field {
    width: 85%;
  }

  .log-signup label {
    margin-left: 30px;
    color: white;
  }

  .log-signup  input {
    width : 85%  ;
    height: 30px ;
    border-radius: 10px;
    margin-bottom: 20px;
  }


  

  .sign-up button {
    color:white;
  }

  .sign-up p {
    color: rgba(223, 215, 215, 0.938);
  }
