html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/*----------------- General CSS -------------------*/
body {
  background-color: rgb(72, 125, 48);
}

/*------------- Flex Utilities -------------------*/

.container             { display        : flex       ;}
.justify-cont-center   { justify-content: center     ;}
.justify-cont-start    { justify-content: flex-star  ;}
.justify-cont-end      { justify-content: flex-end   ;}
.justify-items-center  { justify-items  : center     ;}
.align-self-center     { align-self     : center     ;}
.align-items-center    { align-items    : center     ;}
.align-items-end       { align-items    : flex-start ;}
.flex-row              { flex-direction : row        ;}
.flex-column           { flex-direction : column     ;}




/* ------------------------------------- Home Page View ----------------------------------*/

/* ------------ Section Hero -------------*/

.hero {
  background-image: url('../images/hawaii-group-hike.jpg');
  background-size: cover;
  width: 100%;
  height: 500px;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 150px;
  color: white;
  padding: 10px;
  background-color: rgba(76, 77, 66, 0.5);
  border-radius: 8%;
}




/* ---------------- Section log-signup -----------*/

.log-signup {
  /* background-color: rgb(72, 125, 48); */
  width: 100%;
}

  .log-signup form {
    width: 100%;
  } 

  .log-signup .log-in .submit {
      background-color: rgb(186, 223, 160);
      border-radius: 14px;
      width: 120px;
      height: 25px;
      margin: 15px 0;
      padding: 15px;
  }

  .log-signup .log-in button {
    color:  rgb(72, 125, 48);
  }

  .log-signup .field {
    width: 85%;
  }

  .log-signup label {
    margin-left: 30px;
    color: white;
  }

  .log-signup  input {
    width : 85%  ;
    height: 30px ;
    border-radius: 10px;
    margin-bottom: 20px;
  }


  

  .sign-up button {
    color:white;
  }

  .sign-up p {
    color: rgba(223, 215, 215, 0.938);
  }



  /* ------------------------------------------- Profile View ----------------------------------------*/

  .profile-info {
    padding: 20px 20px 10px 20px;
    border-bottom: grey 0.5px solid;

  } 

  .profile-info img {
    border-radius: 70%;
  }

  .profile-info div {
    padding: 20px;
    margin-left: 5px;
    width: 60%;
  }

  .profile-info p {
    margin: 8px 0;
  }



/* ------------------------------------------- Errors Views ------------------------------------*/

.error-page {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  color: white;
}

/* ----------- Section events/index -----------*/
div.buttons {
  display: flex;
  justify-content: space-around;
}

p.btn {
  color: #537048;
  background-color: #CFEDC4;
  padding: 5px 0px;
  border-radius: 30px;
  width: 35%;
  text-align: center;
}

p.btn a {
  text-decoration: none;
  color: #537048;

}

/* ----------- form -----------*/

.hidden {
  display: none;
}

.filter-form {
  margin: 0 auto;
  text-align: center;
  padding: 10px 0px;
}
.filter-form label {
	margin-bottom: 10px;
  font-style: bold;
  color: #CFEDC4;

}

.filter-form input {
  padding: 2px;
  font-size: 12px;
  border-radius: 30px;
  width: 70%;
}

.filter-form .submit {
  padding-top: 5px;
}

.filter-form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 12px;
  color: #537048;
  background-color: #CFEDC4;
  border-radius: 30px;
  cursor: pointer;
  margin: 15px auto;

}

.error-page h3{
  background-color: rgba(120, 121, 113, 0.5);
  height: 40px;
  padding: 10px;
  margin-top: 50px;
}




/* ------------ Error View 500 ----------------*/

.error-500 {
  background-image: url("/images/shutterstock_302234213-copy.jpg");
  
}

/* ------------ Error View 404 ----------------*/
.error-404 { 
  background-image: url("/images/404.jpg");

}