<img src="/images/Copy of Iron Hack-8704.jpg" alt="profile picture" srcset="">
    <div class="  container  flex-column ">
      <p><strong>User Name:</strong> <%= user.username %></p>
      <p><strong>Tagline:</strong><%= user.aboutme %></p>
      <p><strong>About me:<strong><%= user.quote %></p>
    </div>