<img src="/images/Copy of Iron Hack-8704.jpg" width="100px" height="100px" alt="profile picture" srcset="">
    <div class="  container  flex-column ">
      <p>User Name</p>
      <p>tagline</p>
      <p>about me</p>
      <p>rating as guide:</p>
    </div>