<img src="/images/Copy of Iron Hack-8704.jpg" width="100px" height="100px" alt="profile picture" srcset="">
    <div class="  container  flex-column ">
      <p>User Name: <%= user.username %></p>
      <p>Tagline: <%= user.aboutme %></p>
      <p>About me: <%= user.quote %></p>
    </div>