<h3 class="upcomming-events">Upcomming events</h3>
<ul class="upcomming-events">  
  <% event.forEach(event => { %>
    <li class="upcomming-events"> <%= event.title  %>
    <%= event.date  %></li>
    <% }) %>
</ul>
